footer{
    background-color: var(--foreground);
    color: var(--primary-light); 
    padding: 6rem 2rem;
    text-align: center;
}
footer .logo{
    width: 4rem;
    height: auto;
    margin-bottom: 4rem;
}
footer .title{
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 4rem;
}
footer .social{
    display: flex;
    justify-content: space-between;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 4rem;
}